Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-eu-west-1-003991803981"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  "/opt/python/etc/config.py":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://elasticbeanstalk-eu-west-1-003991803981.s3-eu-west-1.amazonaws.com/evan-bot/config.py

  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_config-py.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      mv -f /opt/python/etc/config.py /opt/python/current/app
      /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf reread
      /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf update
      killall p
      /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf start evan